body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #007bff;
}

.card {
  border: none;
  border-radius: 8px;
}

.card-title {
  font-weight: bold;
}

.list-group-item {
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-group-item span {
  font-size: 1rem;
  font-weight: 500;
}

.list-group-item .btn {
  font-size: 0.875rem;
}

#map {
  height: 75vh;
  width: 85%;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

ul#pointList {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leaflet-routing-container {
  background-color: #ffffff !important;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
